.dropdown-item{
    font-size: 20px;
    color: rgb(57, 8, 81);;
    text-align: left; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    background-color: rgb(175, 244, 238);
}

.nav-item{
    font-size: 28px;
    color: rgb(120, 231, 211);;
    text-align: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(120, 231, 211);
}



h1{
    font-size: 50px; 
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(93, 7, 105); 
    font-style: italic;
}

.btn-primary {
    color:white; 
    background-color: rgb(58, 2, 65);
}
h2{
    text-align: center ;
    font-size: 30px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:italic;
    color: rgb(65, 3, 116); 
}

h3{
    text-align: center;
}

p{    
    color: rgb(5, 81, 69);
    text-align:center;
    font-size: 18px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}

body{
    background-color:rgb(238, 194, 233);  

}



.carousel{

    font-size: 30px; 
    color:white; 
    text-align: center;
}


 h5{
    text-align: center ;
    font-size: 30px; 
    font-style:normal;
    color: black; 
 }

 h4{
    font-size: 30px; 
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(41, 7, 75); 
    font-style: normal;
 }
 .was-validated{
    font-size: 30px; 
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(41, 7, 75); 
    font-style: normal;
 }

 h6{
    font-size: 30px; 
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(41, 7, 75); 
    font-style: normal;
 }

 .btn-outline-success {
    color: white;
    background-color: rgb(58, 2, 65);
 }

 .card{
    background-color: rgb(15, 191, 156);
    font-size: 20px;
    color: rgb(4, 52, 43);;
    text-align: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }

